body {
    font-family: "logic-monospace", mono;
    font-size: 100%;
    color: #343536;
    padding: 4rem 2rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    margin-block: 6rem;
}

h1 {
    font-size: 100%;
    display: inline;
    font-style: italic;
}

figure:not(:last-child) {
    margin-bottom: 4rem;
}

figcaption {
    margin-top: 1rem;
}

footer img {
    margin-top: 1rem;
}
